.practica-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-background);
  margin-top: 30px;
}

.practica-container h1 {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 20px;
}

.practica-container p {
  font-size: 1rem;
  line-height: 1.6;
}

.card {
  background-color: var(--color-card-bg);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 5px;
}

.toggle-button {
  padding: 10px 20px;
  margin-top: 10px;
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button.open {
  background-color: var(--color-button-close);
}

.toggle-button.closed {
  background-color: var(--color-button-open);
}

.resolution-container {
  background-color: var(--color-resolution-bg);
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  border-top: 1px dashed #ccc;
}

.step {
  background-color: var(--color-step-bg);
  padding: 10px;
  margin-bottom: 15px;
  border-left: 4px solid var(--color-step-border);
  border-radius: 5px;
}

.step p {
  margin: 5px 0;
}

.step .explicacion {
  font-style: italic;
  color: #555;
}

.math-block {
  margin-top: 10px;
  overflow-x: auto;
}

.resultado {
  background-color: var(--color-tertiary);
  color: var(--color-text);
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.resultado h3 {
  color: var(--color-accent);
  margin-bottom: 10px;
}
