:root {
  --color-primary: #36A552;
  --color-background: #ffffff;
  --color-text: #f5f5f5;
}

/* -------- Estructura general -------- */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* --- Scroll suave global --- */
html {
  scroll-behavior: smooth;
}