:root {
  --color-primary: #006414;
  --color-secondary: ;
  --color-tertiary: #6c3ed2;
  --color-accent: #8755e9;

  --color-text: #ffffff;
  --color-background: #f9f9f9;
  --color-card-bg: #e9f7ff;
  --color-step-bg: #ffffff;
  --color-step-border: var(--color-primary);
  --color-resolution-bg: #f8f9fa;
  --color-button-open: #28a745;
  --color-button-close: #dc3545;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--color-background);
}